<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sonycsl.Kadecot.core"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sonycsl.kadecot.permission.ACCESS_WEBSOCKET_SERVER" />
    <uses-permission android:name="com.sonycsl.kadecot.permission.ACCESS_KADECOT_SERVICE" />

    <permission
        android:name="com.sonycsl.kadecot.permission.ACCESS_WEBSOCKET_SERVER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.sonycsl.kadecot.permission.ACCESS_KADECOT_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:name="com.sonycsl.Kadecot.app.KadecotCoreApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/KadecotCoreTheme" >
        <activity
            android:name="com.sonycsl.Kadecot.app.EulaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_eula" >
        </activity>
        <activity
            android:name="com.sonycsl.Kadecot.app.AccessPointListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_access_point_list"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.sonycsl.Kadecot.app.OriginListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_origin_list"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.sonycsl.Kadecot.app.PluginListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_plugin_list" >
        </activity>

        <service
            android:name="com.sonycsl.Kadecot.service.KadecotService"
            android:exported="true"
            android:permission="com.sonycsl.kadecot.permission.ACCESS_KADECOT_SERVICE" />

        <provider
            android:name="com.sonycsl.Kadecot.provider.OnDiskProvider"
            android:authorities="com.sonycsl.kadecot.ondisk.provider"
            android:exported="false" />
        <provider
            android:name="com.sonycsl.Kadecot.provider.InMemoryProvider"
            android:authorities="com.sonycsl.kadecot.inmemory.provider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>